<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Shubham Shinde. It uses data from <a href="https://mapbox.com"
                target="_blank">mapbox.com</a> and <a href="https://darksky.net" target="_blank">darksky.net</a>!</p>
        <img src="/img/sps.jpg" class="portrait">
    </div>
    {{>footer}}
</body>

</html>